body{
    width: 100vw;
    height: 100vh;
    background: #f3f3f3;
    box-sizing: border-box;
}
:root{
    --primary-color:#090979;
    --text-color:#00d4ff;
    --dark-color:#333
}
.cards{
    border: thin solid var(--dark-color);
    padding: 1rem;
}
.card{
    display: inline-block;
    background-color:var(--dark-color);
    color:var(--text-color);
}
.card figcaption{
    padding: 1rem;
}
.border-1{
    border-radius: 1rem;
}
.rotate-45{
    transform: rotate(45deg);
}
.rotate-135{
    transform: rotate(135deg);
}
.opacity-80{
    opacity: 0.8;
}
.sepia{
    filter: sepia(1);
}
.eventos-flujos div{
    padding: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
}
.uno{
background-color: yellow;
}
.dos{
background-color: gold;
}
.tres{
background-color:lightyellow;
}