@font-face{
    font-family: "DS-DIGIB";
    src: url("assets/DS-DIGIB.TTF");
}
html{
    scroll-behavior: smooth;
}
/* :root{
    --yelow:#efd81d; */
    /* --backgroundPrimary:#fff; */
    /* --backgroundSecondary:#efd81d; */
    /* --textPrimary:#000; */
    /* dark */
    /* --backgroundDark:#263143; */
    /* --bacgroundSecondaryDark:#6191AF; */
    /* --txtDark:#F0F4F6;
} */
/* .light{
    --backgroundPrimary:#fff;
    --backgroundSecondary:#efd81d;
    --textPrimary:#000;
} */
.dark{
    --backgroundPrimary:#15202b;
    --textPrimary: #F0F4F6;
    --textSubtitle:#88997f;
    --tetxTitle:#fff;  
    --backgroundSecondary:#1da1f2;
}
body{
    --backgroundPrimary:#fff;
    --backgroundSecondary:#efd81d;
    --textPrimary:#000;
    --textTitle:#000;
    --texSubTitle:#747083;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.5px;
    color: var(--textPrimary);
    transition: all .3s linear;
    /* min-width: 320px; */
    
}
.header{
    position:sticky;
    top: 0;
    z-index: 3;
}
.title{
    width: 100%;
    background-color:var(--backgroundSecondary) ;
    text-align: center;
    margin: 0;
    font-weight: bold;
    line-height: 3rem;

}
.container{
    border-bottom: 0.2rem dotted #38444d;
    position: relative;
    padding: 3rem 1rem 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    box-sizing: border-box;
    text-align: center;
    flex-direction: column;
    background: var(--backgroundPrimary);
    /* border: 1px solid blue; */

}
.btn{
    width: 150px;
    color: var(--textPrimary);
    background: transparent;
    border: 1px solid var(--textPrimary);
    border-radius: 0.5rem;
    cursor: pointer;
    transition:all  0.4s ease-in;
    padding: 0.8rem 1.5rem;
    margin: 0.5rem auto;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bolder;

}
.btn:hover {    
    background-color: var(--backgroundSecondary);
    /* color: var(--textPrimary); */
}
.subtitle{
    z-index: 2;
}

/* panel */
.panel-item{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 3;
    transform: translate(-100%,0%);
    transition: .3s ease-in-out;
    visibility: hidden;
    overflow-y: auto;
}
.panel-item .ul{
    padding: 0 ;
    margin: 0;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.panel-item .ul .li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    transition: all .3s ease;
    height: 100%;
    text-align: center;
    /* padding: 1rem; */
}
.li:hover{
    font-weight: bold;
    background: rgba(0, 0, 0, .2);
    transition: .3s ease-in-out;
}
.panel-item .ul .li .a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--backgroundSecondary);
    line-height: 4rem;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
}
.panel-item .ul .li:hover .a{
    color: #F0F4F6;
    /* opacity: 0.7; */
    transition: .3s ease-in-out;
    text-align: center;
}

.panel-item.show{
    transition: .3s ease-in-out;
    transform: translate(0%,0%);
    visibility: visible;
}

.active{
    background: rgba(0, 0, 0, .5);
    color: var(--backgroundSecondary);
    font-weight: bolder;
}

/* Reloj Digital */
.hora{
    color: lightcoral;    
    font-size: 5rem;
    letter-spacing: 10px;
    font-family: "DS-DIGIB";
    padding: 0;
    margin: 2rem 0;
} 
/* Evento con teclado direccionales y shortcut */
.container:nth-child(2){
    height: 100vh;
}
.container-board{
    position: relative;
    margin: auto;
    width: 100%;
    height: 70%;
    background:#333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    position: relative;
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    background-color: var(--backgroundSecondary);
    /* opacity: .7; */
}

/* CountDown */
.container:nth-child(3) .subtitle{
    color: white;
}
.container:nth-child(3)::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/three-v.jpg");
    /* filter:hue-rotate(90deg); */
    filter:blur(1px);
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
}

.container-countDown{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    /* border: 10px solid black; */
    flex-direction: column;

}
.fest_title,
.fest_day{
    color:white;
    font-size: 2rem;
    margin-bottom: 1rem;
    position: relative;
}
.fest_day{
    margin-top: 1rem;
    font-size: 1rem;
}
.countDown{
    display: flex;
}
.days,
.hours,
.minutes,
.seconds{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 .3rem;
    box-sizing: border-box;
    /* color: #ff9500; */
    color:#fff;
    font-family: Verdana;
}
.name{
    padding: .5rem 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;

}
.number{
    text-align: center;
    color: white;
    background-color:rgba(0, 0, 0, .6);
    font-family: DS-DIGIB;
    font-size: 5rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    /* letter-spacing: 5px; */
}

/* btn-Up */
.bx-chevron-up-circle{
    background: var(--backgroundSecondary);
    color:var(--textPrimary);
    border-radius: 50%;
    font-size: 4rem;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 6rem;
    right: 1rem;
    z-index: 3;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease-out;
}
.hidden{
    visibility: hidden;
    opacity: 0;
}

/* Btn Mode Dark */
.mode{
    border-radius: 50%;
    background: var(--backgroundSecondary);
    font-size: 4rem;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 3;
    border: none;
    cursor: pointer;
    outline: none;
    /* transition: all .3s linear; */
    color: var(--textPrimary);
}
/* Formulario */
.form{
    width: 50%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /* padding: auto; */

}
.form .buttom{
    display: flex;
    /* border:1px solid red; */
    /* box-sizing: border-box; */
    /* display: grid; */
    /* grid-auto-flow: column; */
}
/* OnLine y OffLine */
.online,
.offLine{
    width: 95%;
    overflow: hidden;
    height: 3rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;   
    text-align: center;    
    z-index: 5;    
    top: 50%;
    transition: 1s ease-in-out;
}
.online{
    background:greenyellow;
    color: black; 
   
}
.offLine{
    background:tomato;
    color: white; 
}

/* Filtros de busqueda */

.container__img{
    overflow: hidden;
    margin: 1rem auto;
    width:100%;
    max-width: 1024px;
    column-count: 2; 
    padding-bottom: 1rem;
    
}
.card{
    border-radius: 0.3rem;
    background: cadetblue;
    margin-bottom: 0.5rem;
   /* para evitar que se corten el contenido  */
    break-inside: avoid-column;
    page-break-inside: avoid;
    /* transition: all .3s ease-out; */
    padding-bottom: 0px;
    display:inline-block;
}
.card img{
    /* border: 1px solid yellow; */
    max-width: 90%;
    margin-top: .5rem;
}
.card .namePokemon{
    font-size: .8rem;
    color: white;
    font-weight: bold;
    line-height: 2rem;
    margin-top: 0;
    text-transform: capitalize;
    
}
.filter{
    display: none;
    /* visibility: hidden;
    opacity: 0;
    order: 1; */

}

/* Sorteo Digital */

.btn_sortear{
    margin:1rem auto;
    font-weight: bold;
}
.opcion{
    /* border:1px solid red; */
    list-style: none;
    padding: 0;
    margin: 0;
}
.opcion_item{
    margin: 0.2rem;
    font-size: 1.2rem;
}

/* Carousel */
.container:nth-child(12){
    height:  100vh;
}
.sliders{
    position: relative;
    height: 70%;
    /* border: 1px solid white; */
    width:90%;
    display: flex;
    overflow: hidden;
    margin: auto;

}
.slide{
    position: relative;
    width: 100%;
    /* transform: translate(0%,0%); */
    transition: .3s ease-in-out;
  flex-shrink: 0;
}
.slide_title{
    background: rgba(0,0,0, 0.5);
    position: absolute;
    font-size: 3rem;
    margin: 0;
    width: 100%;
    color :white;
    z-index: 2;
    padding: 0.5rem;
    /* border:1px solid white; */
}
.slide > img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    /* height: 20rem; */
    /* border: 1px solid yellow; */

}
.carousel_btn{
    /* border:1px solid tomato; */
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    top: calc(calc(50%) - 1.25rem);
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.btn_previuous,
.btn_next{
    /* border:1px solid yellow; */
    cursor: pointer;
    border-radius: 50%;
    font-size: 2.5rem;
    background: var(--backgroundSecondary);
    margin:0 0.8rem;
}
/* video Inteligente */
.video{
    width: 90%;
}


/* formulario */
.formulario{
    display: flex;
    flex-direction: column;
    width: 90%;
    /* border: 1px solid red; */
}
.form_input{
    --form-ok-color:#4caf50;
    --form-error-color:#f44336;
    border:none;
    border-bottom:0.1rem solid var(--textPrimary);
    background: transparent;
    color: var(--textPrimary);
    /* background: var(--backgroundSecondary); */
    margin: 0.5rem 0;
    /* border: 1px solid blue; */
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding:0.5rem 1rem ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.formulario textarea{
    resize: none;
}
.success{
    border: 1px solid greenyellow;
}
.error{
    border:1px solid tomato;
}
.form_input[required]:valid{
    border: thin solid var(--form-ok-color);
}
.form_input[required]:invalid{
    border:thin solid var(--form-error-color);
}
.none{
    display:none
}

.form_input-error{
    box-sizing: border-box;
    margin-top: -1rem;
    padding: 0.2rem 0;
    /* background-color: var(--form-error-color); */
    color: #fff;
    transition: all 0.8s ease;
    background: tomato;
    font-size: .9rem;
}
.form_input-error.is-active{
    display: block;
    /* una animacion con el nombre show message
    durar치 1s 
    se ejecutar치 solo 1 vez
    de manera normal
    retardo de 0s
    both conservar치 su estilo con la animaci칩n que termina
    */
    animation: show-message 1s 1 normal 0s ease-out both;
}

@keyframes show-message{
    0%{
        visibility: hidden;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}



@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  
}
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */
    .container__img{
        column-count: 3;
    }
 
}
@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

    .container__img{
        column-count: 4;
    }
}
@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
    body{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 3rem auto;
        grid-template-areas: 
        "header header"
        "main panel";
    }    
    .header{
        /* width: 100%; */
        grid-area: header;
    }
    main{
        grid-area: main;
    }
    .panel-item{
        grid-area: panel;
        position: sticky;
        top: 3rem;
        transform: translate(0,0);
        visibility: visible;
        padding: 0;
        z-index: 2;
        height: calc(100vh - 3rem);
        overflow-y: auto;
    }
    .panel-item .ul .li .a{
        font-size: 1.2rem;
    }

    /* hamburger */
    .menu-btn{
        display: none;
    }
    /* btn-Up */
    .bx-chevron-up-circle{
     bottom: 1rem;
     right: calc(30% + 1rem);   
    }
    .container__img{
        column-count: 5;
    }
     
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    /* video y mapa responsive */
    
    .content{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .video,.mapa{
        margin: 1rem;
    }
    
    /* slider */
    .sliders{
        height: 70%;
      /* border: 1px solid white; */
    }
    
    /* formulario */
    .formulario{
        width: 60%;
    }  
}
@media (min-width:1281px) { /* hi-res laptops and desktops */
    

}